div#headerSearch.ui.fluid.category.search
  div.field
    div.ui.icon.input.fluid
      input#inputSearch.prompt(type="text" placeholder="Пошук...")
      i#buttonSearch.inverted.circular.search.link.icon
  div.results
