input#imageUpload(type="file" accept="image/*" hidden onchange="fileValidation(this)")
label Завантаження картинок
  div.devider
  div.imageContainerholder
    div#imageContainer.ui.small
    div.ui.label.massive.unselectable.imageHolderLabel Перетягніть файли фото позиції або двічи клікніть на цьому полі
