div.ui.two.column.stackable.center.aligned.grid
  div.column
    div.ui.basic.segment.right.aligned
      div.itemsQuantity.fluid.big.ui.dropdown.scrolling.label.outlined
        div.text
        i.dropdown.icon
        div.menu
          div.item(data-value='24') 24 шт.
          div.item(data-value='48') 48 шт.
          div.item(data-value='96') 96 шт.
          div.item(data-value='192') 192 шт.
          div.item(data-value='384') 384 шт.
  div.ui.basic.segment.center.aligned
    div.pagePagination.pagination.ui.menu
