div.ui.three.column.stackable.center.aligned.grid
  div.column
    div.ui.basic.segment.left.aligned
      div.filterCode.fluid.big.ui.dropdown.scrolling.label.outlined
        div.text
        i.dropdown.icon
        div.menu
          div.item(data-value='Всі') Всі товари
          div.item(data-value='Нем') Для немовлят
          div.item(data-value='Збр') Зброя
          div.item(data-value='Зві') Звірі
          div.item(data-value='Дів') Для дівчат
          div.item(data-value='Хло') Для хлопчиків
          div.item(data-value='Кон') Конструктори
          div.item(data-value='Лял') Ляльки
          div.item(data-value='Мяк') М'яка
          div.item(data-value='Мяч') М'ячі
          div.item(data-value='Маш') Машинки
          div.item(data-value='Муз') Музична
          div.item(data-value='Нас') Настільні
          div.item(data-value='Укр') Українська
          div.item(data-value='Паз') Пазли
          div.item(data-value='Пол') Польська
          div.item(data-value='Різ') Різні
          div.item(data-value='Вел') Ровери
          div.item(data-value='Тех') Технок
          div.item(data-value='Дер') Дерево
  div.ui.basic.segment.center.aligned
      div.pagePagination.pagination.ui.menu
  div.column
    div.ui.basic.segment.right.aligned
      div.itemsQuantity.fluid.big.ui.dropdown.scrolling.label.outlined
        div.text
        i.dropdown.icon
        div.menu
          div.item(data-value='10') 10 шт.
          div.item(data-value='50') 50 шт.
          div.item(data-value='100') 100 шт.
          div.item(data-value='150') 150 шт.
          div.item(data-value='300') 300 шт.
