div.ui.stackable.menu
  div.header.item: a(href="/items") Масяня ТМ
  a.item(href="/items") Товари
  a.item(href="/brands") Виробники
  a.item(href="/categories") Категорії
  a.item(href="/allproperties") Властивості товарів
  div.right.menu
    a#authCall.item
      i.fitted.icon.user.large.red
