doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/semantic.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/jqtree.css")
    link(rel="icon", href="../favicon.ico",type="image/x-icon")
    script(src="/js/jquery.min.js")
    script(src="/js/secret/maintenance.js")
    script(src="/js/login/auth.js")
    script(src="/js/livesearch.js")
    script(src="/css/semantic.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  body
  div#modalHolder
  div.ui.container
    include header.jade
    include ../shared/livesearch.jade
    div#findImagesInArchive.ui.fluid.button.orange Знайти та підключити фото позицій
