div.brand.ui.modal
  i.close.icon
  div.header Profile Picture
  div.image.content
    div.ui.medium.image
      
    div.description
      div.ui.header We've auto-chosen a profile image for you.
      p We've grabbed the following image from the a(href="https://www.gravatar.com" target="_blank") gravatar image associated with your registered e-mail address.
      p Is it okay to use this photo?
  div.actions
    div.ui.black.deny.button Nope
    div.ui.positive.right.labeled.icon.button Yep, that's me
      i.checkmark.icon
